.container {
  margin: 50px 20px;
}

.infected {
  border-bottom: 10px solid #8d90ff;
}

.recovered {
  border-bottom: 10px solid #98ff9c;
}
.deaths {
  border-bottom: 10px solid #f78d95;
}
.spin {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
